[submodule "content/themes/creative"]
	path = content/themes/creative
	url = https://github.com/zce/creative.git

[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/TryGhost/Casper.git

[submodule "content/themes/official"]
	path = content/themes/official
	url = https://github.com/TryGhost/Blog.git

[submodule "content/themes/starter"]
	path = content/themes/starter
	url = https://github.com/TryGhost/Starter.git

[submodule "content/themes/london"]
	path = content/themes/london
	url = https://github.com/TryGhost/London.git

[submodule "content/themes/editorial"]
	path = content/themes/editorial
	url = https://github.com/TryGhost/Editorial.git

[submodule "content/themes/massively"]
	path = content/themes/massively
	url = https://github.com/TryGhost/Massively.git

[submodule "content/themes/mapache"]
	path = content/themes/mapache
	url = https://github.com/godofredoninja/Mapache.git

[submodule "content/themes/paway"]
	path = content/themes/paway
	url = https://github.com/godofredoninja/Paway.git

[submodule "content/themes/simply"]
	path = content/themes/simply
	url = https://github.com/godofredoninja/simply.git

[submodule "content/themes/scriptor"]
	path = content/themes/scriptor
	url = https://github.com/JustGoodThemes/Scriptor-Ghost-Theme.git
